.bg {
  background: url("/assets/images/background-right.png");
  background-repeat: no-repeat;
  background-position: right top;
  /* background-position: right 35% top ; */
  width: 100%;
  height: 5599.82px;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
}

.body__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body__logo-size {
  width: 110.5px;
  height: 74px;
}
.body__header {
  margin: 36px 44px 36px 49px;
}

.body__social {
}

.body__social-icon {
  transition: 0.2s;
  margin: 4px;
  opacity: 1;
}

.body__social-icon:hover {
  opacity: 0.8;
}
.body__social-lang {
  color: var(--font__color-basic);
}
.body__social-lang.link {
  margin: 2.5px;
}
.body__hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body__hero.title-xl {
}
.text__align-end {
  text-align: end;
}
.text__align-center {
  text-align: center;
}
.text__align-start {
  text-align: start;
}

/* Alignments Images */
.body__hero-box {
  padding-top: 35rem;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 76px;
}
