.bg {
  background-repeat: no-repeat;
  background-position: right top;
  /* background-position: right 35% top ; */
  width: 100%;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
}

.body__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body__logo-size {
  width: 110.5px;
  height: 74px;
}

.body__header {
  margin: 36px 44px 36px 49px;
}

.body__social {}

.body__social-icon {
  transition: 0.2s;
  margin: 4px;
  opacity: 1;
}

.body__social-icon:hover {
  opacity: 0.8;
}

.body__social-lang {
  color: var(--font__color-basic);
}


/* SECTION STANDARD */

.body__section {
  height: 100vh;
  position: relative;
  display: flex;
}

/* SECTION HERO */

.body__hero {
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.text__align-end {
  text-align: end;
}

.text__align-center {
  text-align: center;
}

.text__align-start {
  text-align: start;
}

/* Alignments Images */

.body__hero-box {
  min-width: 769px;
  min-height: 636px;
  position: relative;
  background: url("/assets/images/box-1.png");
  background-repeat: no-repeat;
  background-position: 38px center;
  background-size: cover;
}

.title__scroll {
  font-size: 1.2em;
  padding-top: 11em;
  letter-spacing: 2px;
}

/* SECTION SUMMARY LOGO PART*/

.body__summary {
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
}

.column {
  width: 50%;
  padding-left: 1em;
}

.body__section-logo {
  position: relative;
}

.body__section-logo .cloud__img, .body__section-logo .logo__img {
  left: 50%;
}

.body__section-logo .shineball__img {
  top: 115px;
  left: 135px;
}

.body__section-logo .shineballmini__img {
  top: -8px;
  right: 110px;
}

.body__section-logo>* {
  transform: translateX(-50%);
  position: absolute;
}

/* SECTION SUMMARY CONTENT PART*/

.body__section-content {
  padding-left: 5em;
}

.summary-content {
  position: relative;
  font-weight: var(--font__weight-sm);
  font-size: var(--font-size-lg);
  color: var(--color-content-primary);
  line-height: var(--font-lineHeigh-md);
  text-shadow: 1px 1px 1px rgba(156, 159, 152, .2);
}

.summary-content:before {
  content: "01";
  position: absolute;
  left: -30px;
  font-weight: var(--font__weight-md);
}

/* SECTION SUMMARY CONTACT PART*/

.body__section-contact {
  text-transform: uppercase;
  margin: 3em 0;
  font-weight: var(--font__weight-md);
  color: var(--color__primary);
  font-size: var(--font-size-xl);
}

.body__section-contact .contact__person {
  position: relative;
}

/* .body__section-contact .contact__person .person-name:first-child::after{
  content:"______";
 padding-bottom: 12px;
  color: var(--color__primary-dark);
} */

.body__section-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.body__section-contact .contact__person {
  margin: 0.1em 0;
  letter-spacing: 1px;
}

.person-line {
  margin: 0 0.2em;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
}

.person-line::after {
  content: "";
  width: 90%;
  height: 1px;
  background-color: #333d3c;
  position: absolute;
  left: 0.2em;
  bottom: -0.35em;
}

.person-name {
  position: relative;
  text-align: end;
}

.contact__person .person-position {
  position: relative;
  align-self: center;
  font-size: var(--font-size-lg);
  color: var(--color__content-primary)
}

.person-sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.person-sub .person-btn {
  display: flex;
  align-items: center;
  background: #bab8ac;
  color: #fff;
  transition: 0.3s;
  letter-spacing: 1px;
  font-weight: 500;
  margin-left: 10px;
  padding: 0 8px;
  height: 24px;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  font-size: var(--font-size-xl);
}

.person-sub .person-btn:hover {
  background: rgba(156, 159, 152, .2);
}

.contact__person .person-name:after {
  content: ":"
}