@media screen and (max-width: 1024px) {
  .section-content {
    padding: 0;
  }
  .hero-box {
    min-width: 622px;
    min-height: 510px;
    background-position: 32px center;
  }
  .title__scroll {
    margin-top: 7em;
  }
  .scroll-bar::after {
    margin-top: 135px;
  }
  /* SUMMARY Section */
  .section-summary {
    display: flex;
    flex-direction: column!important;
    align-items: center;
    justify-content: center;
  }
  .summary-content {
    padding-top: 4em;
  }
  .summary .cloud-img, .summary .logo-img {
    left: 50%;
  }
  .person-name {
    margin: .5em 0;
  }
  .person-name:after {
    content: "";
  }
  .person-sub {
    align-items: self-start;
    flex-direction: column;
    margin: 1em 0;
  }
  .person-position {
    align-self: flex-start;
  }
  .person-sub .person-btn {
    margin-left: 0;
  }
  .person-line {
    display: none;
  }
  .unpack__header-title {
    letter-spacing: 14px;
  }
  .unpack__header-title:after {
    right: 130px;
  }
  .section-hero .box-shadow {
    width: 100%;
  }
  .site__section .site__item {
    padding: 0 !important;
    min-width: 768px;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .site__:nth-child(3) {
    padding-left: 4em;
  }
  .imgage-second {
    transform: translate(20px, -50px);
  }
  .image-sixth {
    transform: translate( 0, -50px);
  }
  .image-fourth {
    transform: translateY(-50px);
  }
  .menu {
    flex-direction: column;
  }
  .menu .menu-item {
    margin: 0.5em 0;
  }
  .footer {
    flex-direction: column;
  }
  .social, .logo-weston {
    margin: 2em 0;
  }
  .halfball {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hero-title {
    font-size: var(--font-size-2xl);
  }
  .summary-content {
    padding-top: 7em;
  }
  .section-benefits {
    margin: unset;
  }
  .site__section .site__item {
    flex-direction: column-reverse;
    max-height: 425px;
    width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .section__header {
    margin-bottom: 5em;
  }
  .section__header .nonregular {
    display: none;
  }
  .section__logo-size {
    width: 164.5px;
    height: 102px;
  }
  .hero-box {
    min-width: 415px;
    min-height: 355px;
    background-position: 14px center;
    background-size: cover;
  }
  .hero-box .header-nonregular-blur {
    display: none;
  }
  .section-hero-header {
    top: 8em;
  }
  .title-main {
    margin-top: 5em;
  }
  .hero-scroll {
    height: 60px;
    top: 175px;
  }
  .title__primary {
    font-size: var(--font-size-2xl);
  }
  .box {
    flex-direction: column;
  }
  .summary-text {
    margin: 3em 0;
  }
  .summary-arrow {
    top: 85%
  }
  .scroll-bar::after {
    margin-top: 140px;
  }
}

@media screen and (max-width: 480px) {
  .hero-box {
    min-width: 277px;
    min-height: 234px;
    background-position: 12px center;
  }
  html, .unpack-section {
    margin: 0 auto;
  }
  .unpack__header {
    margin-top: 5em;
  }
  .unpack__header-content {
    max-width: 245px;
  }
  .site__section .site__item {
    flex-direction: column-reverse;
  }

  .item-sixth {
    margin-bottom: 100px;
  }
  .section-contact {
    margin: 2em auto;
  }
  .column {
    width: calc(100% - 4em);
  }
  .person-name {
    font-size: var(--font-size-xl)!important;
  }
  .summary-text {
    font-size: var(--font-size-md);
    padding-right: 1em;
    margin-bottom: 8em;
  }
  .person-line {
    display: none;
  }
  .social-icons {
    display: flex;
    transform: translateX(3px);
    width: auto;
    z-index: 110;
  }
  .section__social-lang {
    margin: 3.5px;
  }
  .section__languages {
    position: absolute;
    top: 27px;
    right: 0;
    transform: translateX(-50%);
    width: auto;
  }
  .headerimage:nth-child(3n+2) {
    z-index: -1;
  }
  .person-name {
    font-size: 30px;
  }
  .title__scroll {
    margin-top: 3em;
  }
  .hero-scroll {
    width: 1px;
    height: 45px;
    top: 110px;
  }
  .cloud-img, .logo-img {
    transform: translate(-50%, -60px) scale(.8);
  }
  .scroll-bar::after {
    margin-top: 70px;
  }
  .hero-title {
    font-size: var(--font-size-2xl);
    letter-spacing: 1px;
  }
  .section-hero .box-shadow {
    bottom: -60px
  }
  .header-image {
    transform: scale(.7);
  }
  .shine-ball-medium {
    left: -50px!important;
  }
  .shine-ball-big {
    right: 0;
  }
  .summary-arrow {
    top: 65%;
    right: 0;
  }
  .summary, .content {
    width: 85%;
  }
  .summary-content::before {
    content: "";
  }
}