@media screen and (max-width: 1024px) {
  .advantage-section .site__:nth-child(2), .advantage-section .site__:last-child {
    margin-bottom: 4em;
  }
  .section-content {
    padding: 0;
  }
  .section__hero-box {
    min-width: 622px;
    min-height: 510px;
    background-position: 32px center;
  }
  .title__scroll {
    margin-top: 9em;
  }
  /* SUMMARY Section */
  .section__summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .summary-content {
    padding-top: 14em;
  }
  .person-name {
    margin: .5em 0;
  }
  .person-name:after {
    content: "";
  }
  .person-sub {
    align-items: self-start;
    flex-direction: column;
    margin: 1em 0;
  }
  .person-position {
    align-self: flex-start;
  }
  .person-sub .person-btn {
    margin-left: 0;
  }
  .person-line {
    display: none;
  }
  .unpack__header-title {
    letter-spacing: 14px;
  }
  .unpack__header-title:after {
    right: 130px;
  }
  .section__hero .box-shadow {
    width: 100%;
  }
  .advantage-section .site__item {
    padding: 0 !important;
    min-width: 1024px;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .site__:nth-child(3) {
    padding-left: 4em;
  }
  .imgage-second {
    transform: translate(20px, -50px);
  }
  .image-sixth {
    transform: translate( 0, -50px);
  }
  .image-third, .image-second {
    transform: translateY(-55px);
  }
  .image-fourth {
    transform: translateY(-50px) !important;
  }
  .advantage-section {
    margin: 4em 0 0 0;
  }
  .footer__menu {
    flex-direction: column;
  }
  .footer__menu .menu-item {
    margin: 0.5em 0;
  }
  .footer__sansara {
    margin-top: 5em;
    flex-direction: column;
  }
  .footer__social, .footer__logo-weston {
    margin: 2em 0;
  }
  .halfball {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .advantage-section .site__item {
    max-height: 425px;
  }
  .section__header {
    margin-bottom: 5em;
  }
  .section__header .nonregular {
    display: none;
  }
  .section__logo-size {
    width: 164.5px;
    height: 102px;
  }
  .advantage-section .site__item {
    transform: translate(0) !important;
    margin: 4em 0 !important;
  }
  .section__hero-box {
    min-width: 415px;
    min-height: 355px;
    background-position: 14px center;
    background-size: cover;
  }
  .section__hero-box .header-nonregular-blur {
    display: none;
  }
  .section__hero-header {
    top: 8em;
  }
  .title__scroll {
    margin-top: 6em;
  }
  .section__hero-scroll {
    height: 60px;
    top: 150px;
  }
  .title__primary {
    font-size: var(--font-size-2xl);
  }
  .summary__main {
    flex-direction: column;
  }
  .summary-text {
    margin: 3em 0;
  }
  .summary-arrow {
    top: 75%;
  }
}

@media screen and (max-width: 480px) {
  html, .unpack-section {
    margin: 0 auto;
  }
  .unpack__header {
    margin-top: 5em;
  }
  .unpack__header-content {
    max-width: 245px;
  }
  .advantage-section .site__item {
    flex-direction: column-reverse;
  }
  .unpack__img {
    min-height: 265px;
  }
  .item-sixth {
    margin-bottom: 100px;
  }
  .section-contact {
    margin: 2em auto;
  }
  .column {
    width: calc(100% - 4em);
  }
  .person-name {
    font-size: var(--font-size-xl)!important;
  }
  .summary-text {
    padding-right: 1em;
    margin-bottom: 5em;
  }
  .person-line {
    display: none;
  }
  .section__social {
    padding: 27px;
    display: flex;
    flex-direction: column;
    position: absolute!important;
    right: 0;
    bottom: 0;
    width: auto;
  }
  .section__social-lang {
    margin: 3.5px;
  }
  .section__languages {
    position: absolute;
    top: 27px;
    right: 0;
    transform: translateX(-50%);
    width: auto;
  }
  .header__image:nth-child(3n+2) {
    z-index: -1;
  }
  .section__hero-wrapper::after {
    margin-top: 120px;
  }
  .person-name {
    font-size: 30px;
  }
}