body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
}
* {
  text-decoration: none;
  color: var(--font__color-primary);
  font-family: var(--primary__font-webpro);
}
.column-4 {
  width: 33.33%;
}
h1,
h2,
h3,
h4,
h5 {
  /* margin: 0;
  padding: 0; */
  text-transform: uppercase;
}

.title-sm {
  font-size: var(--font-size-sm);
}
.title-md {
  font-size: var(--font-size-md);
}
.title-xl {
  font-size: var(--font-size-lg);
}
.title-xl {
  font-size: var(--font-size-xl);
}
.title-2xl {
  font-size: var(--font-size-2xl);
}
.title-3xl {
  font-size: var(--font-size-3xl);
}

.body__social-lang .link {
  font-weight: var(--font__weight-md);
  font-size: 1.2rem;
  letter-spacing: 1.8px;
}
.body__hero-title.title-xl {
  font-weight: var(--font__weight-md);
  color: var(--color__primary-dark);
}
.title-primary {
  margin: 58px 0 38px 0;
}
.body__hero-title.title-sm {
  margin-top: 218px;
}
.body__hero-wrapper {
  position: relative;
}
.body__hero-scroll {
  position: absolute;
  left:50%;
  bottom:-150px;
  width: 3px;
  height: 120px;
  background: var(--color__primary-dark);
}
