body, html, ul {
  margin: 0;
  padding: 0;
}

body, html {
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  color: var(--font-color-primary);
  font-family: var(--primary-font-webpro);
}

ul li {
  list-style: none;
}

.column-4 {
  width: 33.33%;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  /*  padding: 0; */
  text-transform: uppercase;
}

.title-sm {
  font-size: var(--font-size-sm);
}

.title-md {
  font-size: var(--font-size-md);
}

.title-xl {
  font-size: var(--font-size-lg);
}

.title-xl {
  font-size: var(--font-size-xl);
}

.title-2xl {
  font-size: var(--font-size-2xl);
}

.title-3xl {
  font-size: var(--font-size-3xl);
}

.body__social-lang .link {
  font-weight: var(--font-weight-md);
  font-size: 1.2rem;
  letter-spacing: 1.8px;
}

.title_lg {
  font-weight: var(--font-weight-sm);
  color: var(--color-primary-light);
}

.title__primary {
  word-spacing: 2px;
  letter-spacing: 8px;
  margin: 10px 0 0.6em 0 !important;
}

.body__hero-wrapper {
  position: relative;
}

.body__hero-scroll {
  position: absolute;
  left: 50%;
  bottom: -150px;
  width: 2px;
  height: 120px;
  background: var(--color-primary-dark);
}

.body__hero-title.title-lg {
  margin-top: 5em;
  color: var(--color-primary-light);
  font-weight: var(--font-weight-sm);
  font-size: var(--font-size-xl);
  letter-spacing: 3px;
}

.body__background {
  background: var(--background-gradient);
  color: var(--color-primary-dark);
  overflow-x: hidden;
  width: 100%;
}

/* Button & Link Styles */

.btn {
  transition: 0.3s;
  text-transform: uppercase;
  background: var(--background-none);
  border: 2px solid #fff;
  color: #fff;
  padding: 0.4rem 1rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn:hover {
  border: 2px solid var(--color-primary-dark);
  color: var(--color-primary-dark);
}

/* Language Buttons */

.body__social-lang {
  transition: 0.3s;
  margin: 2.5px;
}

.body__social-lang:hover {
  opacity: 0.8;
}

/* Scroll Button */

.body__hero-wrapper {
  position: relative;
  display: grid;
  place-self: center;
  cursor: pointer;
  transition: 0.3s;
}

.body__hero-wrapper::after {
  content: "";
  position: absolute;
  display: grid;
  place-self: center;
  margin-top: 250px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation: pulse-scroll 1.5s infinite ease-in-out;
  animation-delay: 3s;
}

@keyframes pulse-scroll {
  0% {
    transform: scale(0.1);
    background-color: rgba(0, 0, 0, 0.1);
  }
  50% {}
  100% {
    transform: scale(1.5);
    background-color: transparent;
  }
}

.body__hero-scroll {
  transition: 1s;
}

.body__hero-wrapper:hover .body__hero-scroll {
  transition: 0.4s;
  height: 60px;
}

.body__hero-wrapper:hover {
  color: var(--color-content-primary);
}

/*  */