.unpack-section {
  margin: 10em auto;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* Unpack Title & Header */

.unpack__header-title {
  font-size: 80px;
  letter-spacing: 20px;
  color: #333d3c;
  position: relative;
}

.unpack__header-content {
  margin: 2em auto;
  max-width: 540px;
  font-size: 24px;
  color: #868782;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.6em;
}

.section-languages {
  display: flex;
}

.site__section {
  margin: 10em auto;
  -ms-flex-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site__section .list-item {
  padding-left: 5em!important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 980px;
  max-height: 285px;
  margin-bottom: 4em;
}

.site__section:last-child {
  margin-bottom: 0em;
}

.list-item:nth-child(3) {
  padding-left: 14em;
}

.site-left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.site__content-hedaer {
  letter-spacing: 3px;
}

.site__content-container {
  letter-spacing: 1px;
  padding-left: 2em;
  max-width: 305px;
  text-align: left;
}

.site__content-text {
  font-family: "sofia-pro";
  color: #868782;
  font-size: 18px;
  line-height: 1.6em;
  position: relative;
  padding: 1em 0;
}

.site__content-text:before {
  content: "";
  position: absolute;
  top: 0;
  width: 46px;
  height: 1px;
  background: var(--color-primary-dark);
}

/* Placing Items of Advantage */

.item-first, .item-second, .item-third, .item-fourth, .item-fifth {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

/* Images in Advantage Section */

.list-item img {
  width: 357px;
  height: 218px;
}