.unpack-section {
  margin: 10em auto;
  text-align: center;
  flex-direction: column;
}

/* Unpack Title & Header */

.unpack__header-title {
  font-size: var(--font-size-3xl);
  letter-spacing: 20px;
  color: var(--color-primary-dark);
  position: relative;
}

.unpack__header-content {
  margin: 2em auto;
  max-width: 540px;
  font-size: var(--font-size-lg);
  color: var(--color-primary);
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.6em;
}

.site__section {
  margin: 10em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site__section .site__item {
  padding-left: 5em;
  display: flex;
  align-items: center;
  min-width: 980px;
  max-height: 285px;
  margin-bottom: 4em;
}

.site__section:last-child {
  margin-bottom: 0em;
}

.site__item:nth-child(3) {
  padding-left: 14em;
}

.site-left {
  flex-direction: row-reverse;
}

.site__content-hedaer {
  letter-spacing: 3px;
}

.site__content-container {
  letter-spacing: 1px;
  padding-left: 2em;
  max-width: 305px;
  text-align: left;
}

.site__content-text {
  font-family: var(--secondary-font-sofia);
  color: var(--color-primary);
  font-size: var(--font-size-sm);
  line-height: 1.6em;
  position: relative;
  padding: 1em 0;
}

.site__content-text:before {
  content: "";
  position: absolute;
  top: 0;
  width: 46px;
  height: 1px;
  background: var(--color-primary-dark);
}

/* Placing Items of Advantage */

.item-first,
.item-second,
.item-third,
.item-fourth,
.item-fifth {
  justify-content: flex-end;
}

/* Images in Advantage Section */
