:root {
  --primary-font-webpro: "ff-good-headline-web-pro-ext";
  --secondary-font-sofia: "sofia-pro";
  /* Font Weights */
  --font-weight-sm: 500;
  --font-weight-md: 700;
  --font-weight-lg: bold;
  /* Line Height */
  --font-lineHeigh-sm: 1em;
  --font-lineHeigh-md: 1.5em;
  --font-lineHeigh-lg: 2em;
  /* Colors | Backgrounds */
  --background-gradient: linear-gradient( 90deg, rgba(202, 242, 241, 1) 24%, rgba(243, 221, 195, 1) 86%);
  --background-none: transparent;
  --color-main: #caf2f1;
  --color-primary: #868782;
  --color-primary-light: #586967;
  --color-primary-dark: #333d3c;
  --color-content-primary: #9c9f98;
  /* Font Sizes */
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 24px;
  --font-size-2xl: 40px;
  --font-size-3xl: 80px;
  /* Flex Alignments */
  --flex-align-start: start;
  --flex-align-center: center;
  --flex-align-end: end;
}